<launch>
    
    <arg name="multi_node" default="false"/>
    <arg name="config" default="demo"/>
    
    <group ns="hgr">
        <rosparam file="$(find hgr)/config/$(arg config).yaml" />
    </group>

    <include file="$(find hgr)/launch/include/hgr.launch">
        <arg name="multi_node" value="$(arg multi_node)"/>
    </include>

</launch>