<launch>
    
    <arg name="model_name" default="InceptionV3"/>

    <group ns="hgr">
        <rosparam file="$(find hgr)/config/kinect.yaml" />
    </group>

    <include file="$(find freenect_launch)/launch/freenect.launch"/>

    <include file="$(find hgr)/launch/hgr.launch">
        <arg name="model_name" value="$(arg model_name)"/>
    </include>
    
</launch>