<launch>
    
    <group ns="hgr">
        <rosparam file="$(find hand_gesture_recognition)/config/kinect.yaml" />
    </group>

    <include file="$(find freenect_launch)/launch/freenect.launch"/>

    <node pkg="hand_gesture_recognition" name="hand_gesture_recognition" type="hand_gesture_recognition_node.py" />
    
</launch>