<launch>
    
    <arg name="model_name" default="InceptionV3"/>

    <group ns="hgr">
        <rosparam file="$(find hgr)/config/astra.yaml" />
        <rosparam param="model_name" value="$(arg model_name)"/>
    </group>

    <!-- <include file="$(find astra_camera)/launch/astra_pro.launch"/> -->

    <node pkg="hgr" name="hand_detection" type="hand_detection_node.py" output="screen"/>
    <node pkg="hgr" name="hand_hand_classification" type="hand_classification_node.py" output="screen"/>

</launch>